@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap");

/* ======================= ROOT VARIABLES ======================= */
:root {
  --color-primary-1: #d03941;
  --color-primary-2: #b55156;
  --color-primary-3: #e17277;
  --color-success: #2ecc71;
  --color-warning: #ffbb55;
  --color-white: #fff;

  --color-text-dark: #34495e;
  --color-text-light: #7f8c8d;
  --color-background: #f6f6f6;

  --color-price: #0c573e;
  --color-add-to-cart: #ecb16e;
  --color-add-to-cart-confirm: #59ae92;

  --card-border-radius: 2rem;
  --border-radius-1: 0.4rem;
  --border-radius-2: 0.8rem;
  --border-radius-3: 1.2rem;

  --card-padding: 1.8rem;
  --padding-1: 1.2rem;
  
  --box-shadow-1: 2px 0.1em 0.1rem rgba(0, 0, 0, 0.5);
  --box-shadow-2: 4px 0.3em 0.3rem rgba(0, 0, 0, 0.5), inset 4px 0.3em 0.3rem rgba(0, 0, 0, 0.5);
  --box-shadow-3: 0 2rem 3rem var(--color-text-light);
}

/* ================== RESET SCROLLBAR ==================== */
::-webkit-scrollbar {
  display: none;
}

html:focus-within {
  scroll-behavior: smooth;
}

/* ==================== GENERAL STYLES ==================== */

* {
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
}

html,
body {
  font-size: 14px;
  width: 100vw;
  overflow-x: hidden;
  color: var(--color-dark);
}

a {
  text-decoration: none;
  color: var(--color-dark);
}

/* ==================== NAVBAR ==================== */

.container {
  width: 100%;
  min-height: 100vh;
  background-color: var(--color-info-light);
}

nav {
  min-width: 100vw;
  height: 9vh;
  background-color:var(--color-primary-1);
  color: var(--color-white);
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  z-index: 99;
  top: 0px;
  padding: 0 3vw;
  border-bottom: 1px solid #000;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}

nav h2 {
  font-size: 2rem;
}

.nav-part2 {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
}

.nav-part2 details {
    position: relative;
  }
  .nav-part2 details summary {
    list-style: none;
  }
  .nav-part2 details ul {
    overflow: hidden;
    background-color: white;
    color: #000;
    position: absolute;
    right: 0%;
    top: 40px;
    width: max-content;
    border-radius: 10px;
    box-shadow: 0 0.2em 0.2rem rgba(0, 0, 0, 0.5);
    text-shadow: none;
    padding: 5px 5px;
  }
  .nav-part2 details ul li {
    font-size: 1.5rem;
    padding: 6px 6px;
    cursor: pointer;
    text-shadow: none;
    border-radius: 5px 5px 0 0 ;
    border-bottom: 1px solid #3f171725;
  }
  .nav-part2 details ul li:last-child{
    border-bottom: none;
    border-radius: 0px 0px 5px 5px ;
  }
  
  .nav-part2 details ul li:hover {
    background-color: #59ae9234;
  }

/* ==================== MAIN SECTION ==================== */

main {
  top: 1px;
  width: 100%;
  min-height: 91vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 8.5vh 0 0;
}

main .p1,
main .p2 {
  min-width: 95vw;
  margin: 1.5rem 2rem 0;
  border-radius: var(--border-radius-2);
  padding: 4vh 5vw;
  box-shadow: var(--box-shadow-1);
}
main .p1 {
  background-color: var(--color-primary-1);
  color: var(--color-white);
  box-shadow: var(--box-shadow-2);
  position: relative;
  z-index: 0;
}
main .p1 .p1-img {
  width: 250px;
  z-index: 1;
  position: absolute;
  top: -20px;
  right: 20px;
}

main .p1 h1 {
  position: relative;
  z-index: 2;
  /* font-size: 3rem; */
  font-size: 5rem;
  color: var(--color-info-light);
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.4);
}
main .p1 h1 span {
  font-size: 5rem;
  color: var(--color-info-light);
  font-style: italic;
  text-transform: uppercase;

  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}

main .p1 p {
  font-size: 1.8rem;
  margin-top: 1rem;
  font-weight: 100;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.8);
}

/* ==================== MAIN PART-2 ========================== */

main .p2 {
  background-color: var(--color-primary-3);
  box-shadow: 0 0.2em 0.2rem rgba(0, 0, 0, 0.5);
}
main .p2 h2 {
  padding-bottom: .5rem;
  margin-bottom: .3rem;
  color: var(--color-white);
  border-bottom: 1px solid white;
  font-size: 2rem;
  text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.9);
}

main .p2 .shops {
  margin-top: 1rem;
  border-radius: var(--border-radius-1);
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-bottom: 4vh;
}

main .p2 .shops .faq {
  position: relative;
  padding: 7px 1rem;
  background-color: white;
  color: #593823;
  box-shadow: var(--box-shadow-1);
  border-radius: var(--border-radius-1);
  transition: all 300ms ease;
}

.faq-title {
  margin-bottom: 5px;
  margin-right: 3rem;
  font-size: 1.5rem;
  color: #42291a;
}

.faq-text {
  width: 77vw;
  text-align: left;
  margin: 1rem 0;
  display: none;
}


.menu-item {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #33201455;
  padding: 5px 0;
}
.menu-item:first-child {
  border-top: 1px solid #33201455;
}
.menu-item:last-child {
  padding-bottom: 0;
  border-bottom: none;
}
.menu-item .dishname {
  font-family: "Courier New", Courier, monospace;
  font-size: 1.2rem;
  font-weight: bolder;
  width: 55%;
}

.item-part {
  width: 35vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.price {
  font-family: "Courier New", Courier, monospace;
  font-weight: bolder;
  color: var(--color-price);
}
.addtocartbtn {
  font-weight: bold;
  margin-top: 5px;
  background-color: var(--color-add-to-cart);
  color: #000;
  height: 100%;
  padding: 3px 15px;
  box-shadow: 0 0.2em 0.2rem rgba(0, 0, 0, 0.5);
  border-radius: var(--border-radius-1);
}

.faq.active .faq-text {
  display: block;
  font-size: 1rem;
}


.toggle {
  padding: 10px 10px;
  font-size: 15px;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 20px;
  width: 20px;
  top: 10px;
  right: 10px;
  background-color: #7380ec;
  color: var(--color-white);
  border-radius: 50%;
  cursor: pointer;
  transition: all 200ms ease-in-out;
  text-shadow: 0px 2px 4px rgba(0, 0, 0, 1);
}

.toggle:hover {
  transform: scale(1.09);
}

.toggle .ri-close-fill {
  display: none;
}

.faq.active .toggle .ri-close-fill {
  display: block;
}

.faq.active .toggle .ri-arrow-drop-down-line {
  display: none;
}

.faq.active .toggle {
  background-color: red;
}
/* ============= USER FORM CSS ============== */

.user-details-form{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: .5rem;
}
.user-details-form h2{
  padding-bottom: .5rem;
  width: 100%;
  margin-bottom: .3rem;
  color: var(--color-white);
  border-bottom: 1px solid white;
}

.user-details-form .form-group{
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: .3rem;
}
.user-details-form .form-group label{
  font-size: 1.4rem;
  color: var(--color-white);
  text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.9);
}
.user-details-form .form-group input{
  padding: 10px;
  width: 100%;
  border-radius: var(--border-radius-1);
  border: 1px solid #b55156;
  box-shadow:inset .2rem 0.2rem 0.2rem rgba(0, 0, 0, 0.5);
}
.user-details-form .form-group input:active{
  border: 1px solid #b55156;
}

/* ========== FOOTER CSS =========== */
footer {
  /* position: relative; */
  margin-top: 10vh;
  margin-bottom: 2vh;
  text-align: center;
}

#checkout-btn {
  color: var(--color-white);
  position: fixed;
  bottom: -70px;
  right: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 99;
  min-width: 210px;
  margin-top: 2rem;
  margin-bottom: 8rem;
  background-color: var(--color-primary-3);
  box-shadow: 4px 0.3em 0.3rem rgba(0, 0, 0, 0.5);
  text-shadow: 0px 2px 4px rgba(0, 0, 0, 1);
  width: 20vw;
  padding: 1rem 2rem;
  border-radius: var(--border-radius-2);
  cursor: pointer;
  transition: all 200ms ease-in-out;
}

#checkout-btn:hover {
  background-color: #b55156;
  box-shadow: inset 0 0.2em 0.3rem rgba(0, 0, 0, 0.5);
}

#checkout-btn a {
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
  font-size: 1.2rem;
  color: white;
}
#checkout-btn a span {
  padding: 2px 8px;
  color: white;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.9);
}
 

/* ================ RESPONSIVE STYLES ================ */

@media (max-width: 768px) {

  /*  ======================= MENU PART-1 ============================= */
  
  main .p1{
    height: 25vh;
  }
  main .p1 .p1-img {
    width: 200px;
    top: 10px;
    right: 5px;
  }
  main .p1 h1 {
    font-size: 3rem;
  }
  main .p1 h1 span {
    font-size: 3rem;
  }
  main .p1 p {
    font-size: 1.4rem;
  }

  /*  ======================= MENU PART-2 ============================= */

  
  main .p2 h2 {
    font-size: 1.5rem;
  }

  .faq-title {
    font-size: 1.2rem;
  }

  .menu-item {
    align-items: flex-start;
  }

  .menu-item .dishname {
    font-size: 1rem;
  }

.item-part {
    flex-direction: column;
  }
  .toggle {
    top: 7px;
    right: 7px;
    
  }

.toggle i {
  font-size: 1.9rem;
}
 #checkout-btn {
    padding: 0.8rem 0.1rem;
  }

  #checkout-btn a {
    font-size: 1rem;
  }
}
