@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap");

/* ------------- ROOT VARIABLES ------------- */
:root {
  --color-primary: #7380ec;
  --color-danger: #ff7782;
  --color-success: #41f1b6;
  --color-warning: #ffbb55;
  --color-white: #fff;
  --color-info-dark: #7d8da1;
  --color-info-light: #dce1eb;
  --color-dark: #363949;
  --color-light: rgba(132, 139, 200, 0.28);
  --color-primary-variant: #111e88;
  --color-dark-variant: #677483;
  --color-background: #f6f6f6;

  --card-border-radius: 2rem;
  --border-radius-1: 0.4rem;
  --border-radius-2: 0.8rem;
  --border-radius-3: 1.2rem;

  --card-padding: 1.8rem;
  --padding-1: 1.2rem;

  --box-shadow: 0 2rem 3rem var(--color-light);

  --font-dystopia-semi: "DystopiaSemirounded", Arial, sans-serif;
  --font-dystopia-bold: "DystopiaBold", Arial, sans-serif;
}

/* ------------- RESET SCROLLBAR ------------- */
::-webkit-scrollbar {
  display: none;
}

html:focus-within {
  scroll-behavior: smooth;
}

/* ------------- GENERAL STYLES ------------- */

* {
  margin: 0;
  padding: 0;
  outline: 0;
  appearance: none;
  border: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}

html,
body {
  font-size: 14px;
  min-height: 100vh;
  width: 100vw;
  /* font-size: 0.88rem; */
  /* background: white; */
  user-select: none;
  overflow-x: hidden;
  color: var(--color-dark);
}

a {
  text-decoration: none;
  color: var(--color-dark);
}

/* ------------- NAVBAR ------------- */
.container {
  width: 100%;
  min-height: 100vh;
  background-color: var(--color-info-light);
}
#detail {
  display: none;
}
nav {
  width: 100%;
  height: 9vh;
  background-color: #DD7834;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 5vw;
  border-top: 2px solid #000;
  border-bottom: 2px solid #000;
  text-shadow: 2px 2px 5px rgba(0,0,0,0.5);
}

nav h2 {
  font-size: 2rem;
}

.nav-part2 {
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: red; */
  font-size: 2rem;
}

/* ------------- MAIN CONTENT ------------- */
main {
  top: 1px;
  width: 100%;
  min-height: 91vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  
}

main .p1,
main .p2 {
  min-width: 96vw;
  margin: 1.5rem 2rem 0;
  border-radius: var(--border-radius-2);
  padding: 4vh 5vw;
  background-color: white;
  box-shadow: var(--box-shadow);
}
main .p1 {
  background-color: #DD7834;
  box-shadow:  4px .3em .3rem rgba(0,0,0,0.5), inset 4px .3em .3rem rgba(0,0,0,0.5);
  position: relative;
  z-index: 0;
}
  main .p1 .p1-img{
    width: 250px;
    z-index: 1;
    position: absolute;
    top: -20px;
    right: 20px;
  }
  main .p1 h1 {
    position: relative;
    z-index: 2;
    font-size: 3rem;
  }
  main .p1 h1 span {
    z-index: 2;
    font-size: 3rem;
  }
main .p1 h1 {
 
  font-size: 5rem;
  color: white;
  color: var(--color-info-light);

  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.4);
}
main .p1 h1 span {
  
  font-size: 3.17rem;
  color: white;
  color: var(--color-info-light);
  font-style: italic; 
  text-transform: uppercase; 


  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5); 

}

main .p1 p {
  color: white;
  font-size: 1.8rem;
  margin-top: 1rem;
  font-weight: 100;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.8); 
}
main .p2{
  background-color: #e39664;
    color: white;
    box-shadow: 0 .2em .2rem rgba(0,0,0,0.5);
}
main .p2 h2 {
  font-size: 2rem;
  color: white;
  text-shadow: 2px 2px 3px rgba(0,0,0,0.9); 
}

main .p2 .shops {
  margin-top: 1rem;
  border-radius: var(--border-radius-1);
  display: flex;
  flex-direction: column;
  gap: 1rem;
  
}

main .p2 .shops .faq {
  background-color: white;
  color: #593823;
  box-shadow: 0 .2em .2rem rgba(0,0,0,0.5);

}

.faq {
  border-radius: var(--border-radius-1);
  padding: 7px 1rem;
  position: relative;
  /* box-shadow: var(--box-shadow); */
  transition: all 300ms ease;
  
}

.faq-title {
  margin-bottom: 5px;
  margin-right: 3rem;
  font-size: 1.5rem;
  color: #42291a;
}

.faq-text {
  width: 78vw;
  text-align: left;
  margin: 1rem 0;
  display: none;
  
}
.menu-item {
  width: 100%;
  /* background-color: red; */
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #00000028;
  /* border-top: 1px solid #00000028; */
  padding: 5px 0;
  
}
.menu-item:first-child {
  border-top: 1px solid #33201455;
  }
.menu-item:last-child {
  padding-bottom: 0;
  border-bottom: none;
}
.menu-item .dishname {
  font-family: "Courier New", Courier, monospace;
  font-size: 1.2rem;
  font-weight: 900;
}
.item-part {
  /* background-color: #41f1b6; */
  width: 35vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.price {
  font-family: "Courier New", Courier, monospace;
  font-weight: 600;
  /* color: #0c573e; */
  color: #2ecc71;
}
.addtocartbtn {
  font-weight: bold;
    margin-top: 5px;
    /* color: #272833; */
    /* background-color: #41f1b6; */
    background-color: #ecb16e;
    color: #000;
    height: 100%;
    padding: 3px 15px;
    box-shadow: 0 .2em .2rem rgba(0,0,0,0.5);
    border-radius: var(--border-radius-1);
}

.faq.active .faq-text {
  display: block;
  font-size: 1rem;
}

.toggle i {
  font-size: 1.9rem;
}

.toggle {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  /* font-size: 30px; */
  height: 20px;
  width: 20px;
  top: 10px;
  right: 10px;
  background-color: #7380ec;
  color: white;
  border-radius: 50%;
  cursor: pointer;
  transition: all 200ms ease-in-out;
}

.toggle:hover {
  transform: scale(1.09);
}

.toggle .ri-close-fill {
  display: none;
}

.faq.active .toggle .ri-close-fill {
  display: block;
}

.faq.active .toggle .ri-arrow-drop-down-line {
  display: none;
}

.faq.active .toggle {
  background-color: red;
}

 

footer{
  /* position: relative; */
  margin-top: 5vh;
  margin-bottom: 2vh;
  text-align: center;
}
#checkout-btn {
  position:fixed;
  bottom: 0;
  right: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 99;
  min-width: 200px;
  margin-top: 2rem;
  margin-bottom: 8rem;
  background-color: #e17277;
  box-shadow: 0 .3em .3rem rgba(0,0,0,0.5);
  width: 20vw;
  padding: 1rem 2rem;
  border-radius: var(--border-radius-2);
  cursor: pointer;
  transition: all 200ms ease-in-out;
}

#checkout-btn:hover {
  background-color: #b55156;
  box-shadow: inset 0 .2em .2rem rgba(0,0,0,0.5);
}

#checkout-btn a {
  text-shadow: 2px 2px 5px rgba(0,0,0,0.5);
  font-size: 1.2rem;
  color: white;
  /* position: relative; */
}
#checkout-btn a span{
  /* position: absolute; */
  padding: 2px 8px;
  color: rgb(229, 207, 207);
  text-shadow: 2px 2px 5px rgba(0,0,0,0.9);
}

/* ================ RESPONSIVE STYLES ================ */


@media (max-width: 768px) {
  nav {
    /* background-color: #41f1b6; */
    background-color: #d03941;
    position: fixed;
    z-index: 9999;
    top: 0px;
    padding: 0 3vw;
    max-width: 100vw;
    justify-content: space-between;
    gap: 10px;
  }
  .nav-part2 details {
    position: relative;
  }
  .nav-part2 details {
    position: relative;
  }
  .nav-part2 details summary {
    list-style: none;
  }
  .nav-part2 details ul {
    overflow: hidden;
    background-color: white;
    color: #000;
    position: absolute;
    right: 0%;
    top: 40px;
    width: max-content;
    border-radius: 10px;
    box-shadow: 0 .2em .2rem rgba(0,0,0,0.5);
    text-shadow: none;
  }
  .nav-part2 details ul li {
    font-size: 2rem;
    padding: 6px 10px;
    /* border-bottom: 1px solid #3f1717; */
    cursor: pointer;
    text-shadow: none;
  }
  .nav-part2 details ul li:hover{
    background-color: #59ae92;
  }
  main {
    padding: 8.5vh 0 0;
  }
  main .p1,
  main .p2 {
    min-width: 95vw;
    padding: 3vh 4vw;
  }
  main .p1{
    background-color: #d03941;
    position: relative;
    z-index: 0;
  }
  main .p1 .p1-img{
    width: 200px;
    z-index: 1;
    position: absolute;
    top: 10px;
    right: 5px;
  }
  main .p1 h1 {
    position: relative;
    z-index: 2;
    font-size: 3rem;
  }
  main .p1 h1 span {
    z-index: 2;
    font-size: 3rem;
  }
  main .p1 p {
    font-size: 1.4rem;
  }
  main .p2{
    background-color: #e17277;
    color: white;
    box-shadow: 0 .2em .2rem rgba(0,0,0,0.5);
  }
  main .p2 h2 {
    font-size: 1.5rem;
    text-shadow: 2px 2px 3px rgba(0,0,0,0.9); /* Adds a shadow to the text */
  }
  .faq {
    padding-top: 3px;
    padding-bottom: 5px;
    background-color: white;
    color: #593823;
    box-shadow: 0 .2em .2rem rgba(0,0,0,0.5);
  }
  .faq-title {
    font-size: 1.2rem;
    /* text-shadow: 1px 1px 1px rgba(0,0,0,0.9);  */
  }

  .faq-text {
    font-size: 0.9rem;
  }
  .menu-item {
    width: 100%;
    /* background-color: red; */
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    border-bottom: 1px solid #33201455;
    /* border-top: 1px solid #00000028; */
    padding: 5px 0;
  }
  .menu-item:last-child {
    padding-bottom: 0;
    border-bottom: none;
  }
  
  .menu-item .dishname {
    font-family: "Courier New", Courier, monospace;
    font-size: 1rem;
    font-weight: bolder;
  }
  .item-part {
    /* background-color: #41f1b6; */
    /* width: 35vw; */
    flex-direction: column;
    justify-content: space-between;
  }
  .price {
    font-family: "Courier New", Courier, monospace;
    font-weight: bolder;
    color: #0c573e;
  }
  .addtocartbtn {
    font-weight: bold;
    margin-top: 5px;
    color: #000;
    /* background-color: #41f1b6; */
    background-color: #ecb16e;
    /* color: #000; */
    height: 100%;
    padding: 3px 15px;
    box-shadow: 0 .2em .2rem rgba(0,0,0,0.5);
    border-radius: var(--border-radius-1);
  }
 
  .toggle {
    font-size: 15px;
    height: 20px;
    width: 20px;
    top: 8px;
    right: 8px;
    padding: 10px 10px;
    text-shadow: 0px 2px 4px rgba(0,0,0,1); 
  }
  .toggle i {
  font-size: 1.4rem;
}
  main #checkout-btn {
    background-color: #e17277;
    color: white;
    padding: 0.8rem 0.1rem;
    text-shadow: 0px 2px 4px rgba(0,0,0,1); 
    box-shadow: 0 .2em .2rem rgba(0,0,0,0.5);
  }

  main #checkout-btn a {
    font-size: 1rem;
  }
}
